@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");
@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "daisyui" {
  themes:
    garden --default,
    sunset --prefersdark;
}

@custom-variant dark (&:where([data-theme=sunset], [data-theme=sunset] *));

@theme {
  --font-primary: "Ubuntu";
  --font-secondary: "Josefin Sans";
}
