@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");
@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "daisyui" {
  themes:
    garden --default,
    sunset --prefersdark;
}

@custom-variant dark (&:where([data-theme=sunset], [data-theme=sunset] *));

@theme {
  --font-primary: "Ubuntu";
  --font-secondary: "Josefin Sans";
  --shadow-custom: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.loader {
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  border-bottom-color: var(--color-primary);
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

[data-theme="sunset"] {
  .loader {
    border-bottom-color: var(--color-secondary);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
